{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }} </div>
    {% endif %}


    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1>Login</h1>
        <form action="{{ path('login') }}" class="d-flex flex-column justify-content-center align-items-center" method="post">
            <label for="username">Email: </label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">Password: </label>
            <input type="password" id="password" name="_password"  />
        
            <button type="submit" class="btn btn-outline-primary">Login</button>
            <a href="{{ path('app_register') }}" class="btn btn-outline-dark">Signup</a>
        </form>
    </div>

    
{% endblock %}
